

<link rel="stylesheet" href="tabbar/css/tabbar.css">


  <div class="tabs tabs-icon-top tabs-striped tabs-color-assertive" ng-controller="tabCtrl">
      <a class="tab-item" ng-repeat ="item in menuItems track by $index" ng-click="setActive(item.tittle)" nav-clear menu-close ng-href="{{item.url}}" ng-class="{active : activeMenu === item.tittle}">
        <i class="icon {{item.icon}}" style="font-size: 22px; margin-top: 2px;"></i>
        {{item.tittle}}
      </a>
  </div>
  
  
<!-- </body>
</html> -->