

<link rel="stylesheet" href="tabbar/css/tabbar.css">


  <div class="tabs tabs-icon-top tabs-striped tabs-color-assertive" ng-controller="tabCtrl">
      <a class="tab-item" ng-repeat ="item in menuItems track by $index" ng-click="setActive(item.tittle)" nav-clear menu-close ng-href="{{item.url}}" ng-class="{active : activeMenu === item.tittle}">
        <i class="icon {{item.icon}}" on-double-tap="scrollTop()" style="font-size: 22px; margin-top: 2px;"></i>
        {{item.tittle}}
      </a>
  </div>
  
<!--    <div class="tabs tabs-icon-top tabs-striped tabs-color-assertive" ng-controller="tabCtrl">
		<a class="tab-item ng-binding" ng-click="setActive(item.tittle)" nav-clear="" menu-close="" ng-href="#/app/home" ng-class="{active : activeMenu === item.tittle}" href="#/app/home">
        <i class="icon turis-home" style="font-size: 22px; margin-top: 2px;"></i>
        Inicio
      </a><a class="tab-item ng-binding"  ng-click="setActive(item.tittle)" nav-clear="" menu-close="" ng-href="#app/cameras" ng-class="{active : activeMenu === item.tittle}" href="#app/cameras" style="">
        <i class="icon turis-cameralocation" style="font-size: 22px; margin-top: 2px;"></i>
        Cámaras
      </a><a class="tab-item ng-binding"  ng-click="setActive(item.tittle)" nav-clear="" menu-close="" ng-href="#app/lists" ng-class="{active : activeMenu === item.tittle}" href="#app/lists">
        <i class="icon turis-reservations" style="font-size: 22px; margin-top: 2px;"></i>
        Reservas
      </a><a class="tab-item ng-binding"  ng-click="setActive(item.tittle)" nav-clear="" menu-close="" ng-href="#/search" ng-class="{active : activeMenu === item.tittle}" href="#/search">
        <i class="icon turis-search" style="font-size: 22px; margin-top: 2px;"></i>
        Buscar
      </a><a class="tab-item ng-binding"  ng-click="setActive(item.tittle)" nav-clear="" menu-close="" ng-href="#/terms" ng-class="{active : activeMenu === item.tittle}" href="#/terms">
        <i class="icon turis-shareios" style="font-size: 22px; margin-top: 2px;"></i>
        Más
      </a>
  </div> -->
  

  
<!-- </body>
</html> -->