@charset "utf-8";
.SS-weatherScroll{
	/*font-family:"Myriad-thin";*/
	
	text-align:center;
	color:#656565;
	height:264px; 
	width: 100%;
	margin-bottom: 15px;
	overflow: auto;
	background-color:#efefef;
	border: 1px solid #ddd;
	overflow-x:  auto;
	overflow-y: hidden;
}
.SS-weatherContainer{
	 width: max-content;
	  width: -moz-max-content;
	  width: -webkit-max-content;
	height:264px;
	}
.SS-weatherToday{
	width:330px;
	height:204px;
	margin: 10px 10px 0px 10px;
	float:left;
	}
	.SS-weatherToday1{
		font-size:22px;
		/*font-family:'Myriad-text';*/
		
		}
	.SS-weatherToday2{
		width:330px;
		}
		.SS-weatherToday2-1, .SS-weatherToday2-2, .SS-weatherToday2-3{
			float:left; 
			width:110px;
			height:100px;
			}
		.SS-weatherToday2-1{
			/*font-size:52px; font-family:'Myriad-text';*/
			
			font-size: 45px;
			}
			.SS-weatherToday2-2 img{
				width: 100px;
			}
			.SS-weatherToday2-3-1, .SS-weatherToday2-3-1a , .SS-weatherToday2-3-1b{
				height:46px;
				color:#22A8FF;
				font-size:42px;
				/*font-family:'Myriad-text';*/
				
			    margin-left: 23px;
				}
				.SS-weatherToday2-3-1-1, .SS-weatherToday2-3-1-1a, .SS-weatherToday2-3-1-1b{
					font-size:22px;
					position:relative;
					bottom:18px;
					}
				.SS-weatherToday2-3-1-2, .SS-weatherToday2-3-1-2a, .SS-weatherToday2-3-1-2b{
					font-size:14px;
					font-weight:bolder;
					position:relative;
					bottom:22px;
					right:6px;
					}
			.SS-weatherToday2-3-2{
				font-size:14px;
				}
	.SS-weatherToday3, .SS-weatherToday4{
		font-size:18px;
		/*font-family: 'Myriad-text';*/
		
		}
	.SS-weatherToday5{
		font-size:15px;
		}
	.SS-weatherToday6, .SS-weatherToday7, .SS-weatherToday8, .SS-weatherToday9, .SS-weatherToday10{
		margin:40px 15px;
		height:184px;
		float:left;
		}
		.SS-weatherToday6-1{
			border:3px solid #656565;
			border-radius:10px;
			padding:4px;
			margin:7px 0px;
			font-size:20px;
			/*font-family:'Myriad-semibold';*/
			
			font-weight: 500;
			}
		.SS-weatherToday7-1{
			font-size:20px;
			/*font-family:'Myriad-semibold';*/
			
			font-weight: 500;
			line-height:28px;
			}
	.SS-weatherToday5{
		
		}
@media screen and (max-width:800px ) {
	
	.SS-weatherScroll {
	    /*font-family: "Myriad-thin";*/
	    
	    text-align: center;
	    color: #656565;
	    height: 142px;
	    width: 100%;
	    margin-bottom: 15px;
	    overflow-y: hidden;
	    background-color: #efefef;
	    border: 1px solid #ddd;
	}

	.SS-weatherContainer {
	    width: max-content;
	    width: -moz-max-content;
	    width: -webkit-max-content;
	    height: 142px;
	}

	.SS-weatherToday {
	    width: 210px;
	    height: 115px;
	    margin: 9px 10px;
	    float: left;
	}
	.SS-weatherToday1 {
	    font-size: 12px;
	    /*font-family: 'Myriad-text';*/
	    
	}
	.SS-weatherToday2 {
	    width: 330px;
	}
	.SS-weatherToday2-1, .SS-weatherToday2-2, .SS-weatherToday2-3 {
	    float: left;
	    width: 70px;
	    height: 60px;
	}
	.SS-weatherToday2-1 {
	    font-size: 30px;
	    /*font-family: 'Myriad-text';*/
	    
	}
	.SS-weatherToday2-2 img {
	    width: 60px;
	}
	.SS-weatherToday2-3-1 {
	    height: 35px;
	    color: #22A8FF;
	    font-size: 30px;
	    /*font-family: 'Myriad-text';*/
	    
	    margin-left: 0px; 
	}
	.SS-weatherToday2-3-1-1 {
	    font-size: 22px;
	    position: relative;
	    bottom: 10px;
	}
	.SS-weatherToday2-3-1-2 {
	    font-size: 14px;
	    font-weight: bolder;
	    position: relative;
	    bottom: 10px;
	    right: 6px;
	}
	.SS-weatherToday2-3-2 {
	    font-size: 10px;
	}
	.SS-weatherToday3, .SS-weatherToday4 {
	    font-size: 10px;
	    /*font-family: 'Myriad-text';*/
	    
	}
	.SS-weatherToday3, .SS-weatherToday4 {
	    font-size: 10px;
	    /*font-family: 'Myriad-text';*/
	    
	}
	.SS-weatherToday5 {
	    font-size: 9px;
	}

	.SS-weatherToday6, .SS-weatherToday7, .SS-weatherToday8, .SS-weatherToday9, .SS-weatherToday10 {
	    margin: 19px 5px 0px 5px;
	    height: 110px;
	    float: left;
	}
	.SS-weatherToday7 img{
		width: 45px;
	}
	.SS-weatherToday7-1 {
	    font-size: 19px;
	    /*font-family: 'Myriad-semibold';*/
	    
	    font-weight: 500;
	    line-height: 20px;
	}
	.SS-weatherToday2-3-1a {
	    height: 35px;
	    color: #22A8FF;
	    font-size: 22px;
	    /*font-family: 'Myriad-text';*/
	    
	    margin-left: 15px;
	}
	.SS-weatherToday2-3-1-1a {
	    font-size: 22px;
	    position: relative;
	    bottom: 4px;
	}
	.SS-weatherToday2-3-1-2a {
	    font-size: 14px;
	    font-weight: bolder;
	    position: relative;
	    bottom: 6px;
	    right: 6px;
	}
	.SS-weatherToday6 img{
		width: 45px;
	}
	.SS-weatherToday2-3-1b{
		    height: 35px;
	    color: #22A8FF;
	    font-size: 22px;
	    /*font-family: 'Myriad-text';*/
	    
	    margin: 2px 0px 0px 18px;
	}
	.SS-weatherToday2-3-1-1b {
	    font-size: 22px;
	    position: relative;
	    bottom: 4px;
	}
	.SS-weatherToday2-3-1-2 {
	    font-size: 14px;
	    font-weight: bolder;
	    position: relative;
	    bottom: 6px;
	    right: 6px;
	}
	.SS-weatherToday6-1 {
	    border: 2px solid #656565;
	    border-radius: 10px;
	    padding: 5px 11px;
	    margin: 6px 0px 0px 0px;
	    font-size: 13px;
	    /*font-family: 'Myriad-semibold';*/
	    
	    font-weight: 500;
	}
}


