<link rel="stylesheet" type="text/css" href="carrousel/css/carrousel_style.css"/>

<ion-scroll direction="x" class="carousel-map" >
    <div class="carousel-map-content" >
        <div class="carousel-map-img-content" data-ng-repeat="pic in pics">
            <img ng-src="http://turiscams.com/v1/{{pic.url}}/live.jpg" alt="">
        </div>
         <div class="carrousel-map-img-content-info">
              <ion-rate maximum="maximumRate" rate="pic.rating" color="color" select-star="selectedStar(rating,$index)" disabled="false"></ion-rate>
                <br><strong>{{pic.stateAcronym}}</strong>
            </div>
    </div>
</ion-scroll>
	
<style>
	.ion-rating {
  display: inline-block;
}
.ion-rating ul {
  margin: 0;
}
.ion-rating ul li {
  display: inline-block;
  /*padding: 0 3px;*/
}
.ion-rating ul li i {
  font-size: 20px;
  color: #e36c18;
}
</style>

