<!-- 
    CreateDate: 
    Empresa: TI Consulting
    Created By: Francisco - Developer
    Description: API de clima
    Last Modification Date: José Alejandro Salas Serna, Directiva -->

    <link rel="stylesheet" type="text/css" href="weather/css/weather.css"/>

  <ion-slide-box show-pager="false" ng-init="weatherService(lat,long)" style="position: relative;">
    <ion-slide>
        <div class="container-actual-weather" layout="column" layout-align="center center" >
          <span style="color: #777777; font-weight: 500;">{{state}}, {{capital}} {{country}}</span>
          <div layout="row" layout-align="space-between stretch" >
              <div layout="column" layout-align="end center">
                <div layout="row" layout-align="center center" >
                  <div class="text-actual-weather">Hoy</div>
                  <img src="weather/images/{{icon}}.png" alt="" class="img-actual-weather">
                  <span class="text-actual-weather"> {{temperature}}&ordm;C</span>
                </div>
                <span class="summary-actual-weather">{{summary}}</span>
              </div>
              <div class="weather-divider"></div>
              <div layout="column"  layout-align="center end" class="extrainfo-actual-sumary">
                <span>Humedad: {{humidity}}%</span>
                <span>Velocidad de viento: {{wind_speed}}Km/h</span>
                <span>Amanecer: {{sunrise_time}}</span>
                <span>Anochecer: {{sunset_time}}</span>
              </div>
              <div class="button-next" ng-click="nextSlide()">
               <span class="turis-arrownext"></span>
              </div>

          </div>
        </div>
    </ion-slide>
    <ion-slide>
        <div class="button-prev" ng-click="previusSlide()">
            <span class="turis-arrowback"></span>
        </div>
        <ion-scroll direction="x" class="scroll-next-weather" on-touch="mouseoverWideDiv()" on-release="mouseleaveWideDiv()" >
          <div class="content-next-weather" >

              <div class="hour-weather" layout="column">
                  <img ng-src="weather/images/{{icon}}.png" alt="" width="50px" >
                  <span class="now-text-next-weather">Ahora</span>
                  <span class="temperature-text"> {{temperature}}&ordm;</span>
              </div>

              <div data-ng-repeat="hour in next_hours" class="hour-weather" layout="column">
                  <img ng-src="weather/images/{{hour.icon}}.png" alt="" width="50px" >
                  <span class="text-next-weather">{{hour.time}}</span>
                  <span class="text-next-weather">{{hour.period}}</span>
                  <span class="temperature-text"> {{hour.temperature}}&ordm;</span>
              </div>
          </div>
      </ion-scroll>
    </ion-slide>
  </ion-slide-box>






