<!doctype>
<html>
<body ng-app="login">
	<script src="lib/js/angular.js" charset="utf-8"></script>
	<script src="lib/js/angular-route.js" charset="utf-8"></script>
	<script src="lib/js/angular-cookies.js"></script>
	<script src="lib/js/angular-messages.min.js"></script>
	<script src="lib/js/angular-animate.js"></script>
	<script src="lib/js/ui-bootstrap-tpls-1.3.3.js"></script>
	<script src="lib/js/openfb.js" charset="utf-8"></script>
	<script src="lib/js/app.js" charset="utf-8"></script>	
	<script src="login/js/login_services.js" charset="utf-8"></script>
	<script src="login/js/login_controllers.js" charset="utf-8"></script> 

<div ng-controller="facebookCtrl2"></div>
</body>
</html>