<ion-view view-title="Registro">
	<ion-nav-bar class="bar-login" style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0) !Important; color: #fff;">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
    <ion-content class="img_fondo_login" back-img="{{image}}">
    	<!-- <ion-nav-bar class="bar-login" style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0) !Important; color: #fff; margin-top: 25px;">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear turis" id="menu-popover" ng-click="popover.show($event)"></button>
            </ion-nav-buttons>
        </ion-nav-bar> -->
	   	<img src="login/css/images/logo.png" alt="" id="img_logo_login">

	   	<form class="text-center" ng-submit="register()" name="tkm_register" ng-controller="signupCtrl" style="position: absolute; width: 100%; bottom: 0; padding: 0 5px 10px 5px; text-align: center;">
	      	<div class="register-container">
				<md-input-container md-no-float="" class="md-block web-input-orange">
					<input type="text" name="name" ng-model="name" id="name" placeholder="Nombre" required maxlength="30" />
					<div ng-messages="tkm_register.name.$error" ng-show="tkm_register.name.$touched || tkm_register.name.$submitted">
						<div ng-message-exp="['required']">
							Nombre requerido.
						</div>
					</div>
				</md-input-container>

				<md-input-container md-no-float="" class="md-block web-input-orange" flex-gt-sm>
					<input type="email" name="email" ng-model="email" placeholder="Correo electrónico" required ng-pattern="/^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)?(\.[a-z]{2,3})$/" />		
					<div ng-messages="tkm_register.email.$error"  ng-show="tkm_register.email.$touched || tkm_register.email.$submitted" multiple="" md-auto-hide="false" style="text-align: center;">
						<div ng-message="required">
							Correo electrónico requerido.
						</div>

						<div ng-message="pattern">
							Ingresa un correo electrónico válido.
						</div>
					</div>
				</md-input-container>

				<md-input-container md-no-float="" class="md-block web-input-orange">
					<input type="password" name="password" ng-model="password" placeholder="Contraseña" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/" required minlength="8" maxlength="30" />
					<div ng-messages="tkm_register.password.$error" ng-show="tkm_register.password.$touched || tkm_register.password.$submitted" multiple="" md-auto-hide="false">
						<div ng-message="required">
							Contraseña requerida.
						</div>

						<div ng-message="pattern">
							Ingresa al menos 8 caracteres (letras y números).  
						</div>
					</div>
				</md-input-container>

				<md-input-container md-no-float="" class="md-block web-input-orange">
					<input type="password" name="password_conf"  ng-model="password_conf" placeholder="Confirmar contraseña" data-match="password" required minlength="8" maxlength="30">
					<div ng-messages="tkm_register.password_conf.$error" ng-show="tkm_register.password_conf.$touched || tkm_register.password_conf.$submitted" multiple="" md-auto-hide="false">
						<div ng-message="required">
							Contraseña requerida
						</div>
						<div ng-message when="match">
							Las contraseñas no coinciden 
						</div>
					</div>
				</md-input-container>

				<fieldset class="standard">
					<div layout-wrap layout-gt-sm="row" >
						<div flex-gt-sm="50">
							<md-checkbox md-no-ink aria-label="" ng-model="conditions"  name="conditions" required>
								Acepto los <a ng-click="modal.show()" class="text-terms">Términos y Condiciones</a>
							</md-checkbox>
						</div>
					</div>
				</fieldset>

			</div>
			<button type="submit" class="button btn-login button-block btn_pass_login" ng-form-loader="login_details()" ng-disabled="tkm_register.$invalid"><strong>Registrarme</strong></button>
		</form>

    </ion-content>

    <script id="templates/login/modal.html" type="text/ng-template">
      <ion-modal-view ng-controller="termsCtrl">
        <ion-header-bar class="bar bar-header bar-positive bar-turiscams">
          <button class="button button-clear button-primary icon-left-A ion-chevron-left" ng-click="modal.hide()" style="font-size: 12px; font-weight: bold; padding-left: 10px; height: 44px; max-width: 80px; width: 72px;"> Volver</button>
          <h1 class="title" >Términos y condiciones</h1>
        </ion-header-bar>
        <ion-content class="padding" style="text-align: justify;">
        {{termsConditions}} 
        </ion-content>
      </ion-modal-view>
    </script>
</ion-view>


<!-- {{termsConditions}} -->