
<ion-view view-title="">
    <ion-content>

       
<!--         <ng-map zoom="6" center="22.775713, -102.5745961" style="height: calc(100% - 77px) !important;">

           	<ion-refresher pulling-text="Recargar" on-refresh="doRefresh()"></ion-refresher>
       
            <info-window id="myInfoWindow">
                <div ng-non-bindable layout="row">
                            <a href="home.html#/app/tmp" style="text-decoration: none; color: #000000;">
                    <img  ng-if="selectedCity.url != null" ng-src='http://turiscams.com/v1/{{selectedCity.url}}/live.jpg'  height='65'/> 

                    <div layout="column" style="margin-left: 10px;">
                        <div class="map-info-state">
                            {{selectedCity.name}}, {{selectedCity.state}}
                            </a>
                        </div>
                        <div layout="column" class="map-info-description">
                            {{selectedCity.nameCamera}}
                            <ion-rate maximum="maximumRate" rate="selectedCity.rating" color="color" select-star="selectedStar(rating,$index)" disabled="false"></ion-rate> 
                        </div>
                    </div>
                    <div layout="column" style="width: 35px;">
                        <div class="map-content-column-res">
                           <md-button class="md-icon-button" ng-href="{{selectedCity.link}}" targert="_blank" aria-label="Favorite">
                                <md-icon md-svg-icon="css/icons/reservations.svg"></md-icon>
                            </md-button>
                            <label>Reservar</label> 
                        </div>
                            
                    </div>
                </div>
            </info-window>
        </ng-map> -->

        <carrousel-cameras></carrousel-cameras>

    </ion-content>
</ion-view>
<style>
  .ng-map-info-window {
        box-shadow: 0px 1px 5px 2px rgba(185,191,203,0.8) !important;
  }
</style>