
<ion-view view-title="Ionic Components+">
    <ion-content>

       
        <ng-map default-style="true" zoom="6" center="22.775713, -102.5745961">

           	<ion-refresher pulling-text="Recargar" on-refresh="doRefresh()"></ion-refresher>
       
            <info-window id="myInfoWindow">
                <div ng-non-bindable>
                    <h4>{{selectedCity.name}}</h4>
                </div>
            </info-window>
        </ng-map>

    <!--<ion-content >

       <div id="map-canvas" data-tap-disabled="true"></div>-->

    </ion-content>
</ion-view>
