
<ion-view view-title="Cámaras">
    <ion-content>

       
        <ng-map zoom="6" center="22.775713, -102.5745961" style="height: calc(100% - 77px) !important;">

           	<ion-refresher pulling-text="Recargar" on-refresh="doRefresh()"></ion-refresher>
       
            <info-window id="myInfoWindow">
                <div ng-non-bindable layout="row" layout-align="center center" >
                    <div>
                      <img  ng-if="selectedCity.url != null" src='http://turiscams.com/v1/{{selectedCity.url}}/live.jpg'  height='65'/> 
                    </div>
                    <div layout="column" layout-align="center center" style="margin-left: 12px;">
                        <label>{{selectedCity.name}}, {{selectedCity.state}}</label>
                        <label for="" style="color: #afafaf;">{{selectedCity.nameCamera}}</label>
                        <ion-rate maximum="maximumRate" rate="selectedCity.rating" color="color" select-star="selectedStar(rating,$index)" disabled="false"></ion-rate>  
                        <md-button class="md-icon-button" ng-href="{{selectedCity.link}}" targert="_blank" aria-label="Favorite" style="margin-top: -10px">
                           <md-icon md-svg-icon="css/icons/reservations.svg"></md-icon>
                        </md-button>
                        <label for="" style="margin-top: -15px">Reservar</label>
                    </div>
                </div>
            </info-window>
        </ng-map>

        <carrousel-cameras></carrousel-cameras>

    </ion-content>
</ion-view>
