
<ion-view view-title="">
    <ion-content>
    <!-- <menu-filters></menu-filters> -->
    <camera-ietr></camera-ietr>

    <md-tabs md-dynamic-height="" md-border-bottom="" md-center-tabs="true" md-dynamic-height="true" md-no-pagination="true" md-stretch-tabs="never" ng-show="oculto == 'ietr'">
      <md-tab label="Imagen en tiempo real">
        <md-content>
            <weather></weather>
          <!-- <div class="fb-comments" data-href="http://turiscams.com/web/"  data-width="100%" data-numposts="5"></div> -->
          <div>
          <iframe src="http://www.facebook.com/plugins/comments.php?api_key=1752208611700669&locale=es_ES&numposts=5&title=Social%20Plugin%20%E2%80%93%20Comments%20en%20iframe&url=http://turiscams.com/web/" style="width: 100%; height: 500px;"></iframe>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="Streaming">
        <md-content class="md-padding">

        </md-content>
      </md-tab>
      <md-tab label="Time-Lapse">
        <md-content class="md-padding">

        </md-content>
      </md-tab>
       <md-tab label="Fotos de cámara">
        <md-content class="md-padding">

        </md-content>
      </md-tab>
    </md-tabs>

    </ion-content>

</ion-view>

<style>
md-pagination-wrapper.md-center-tabs {
    width: 100% !important;
}
md-tabs-canvas.md-center-tabs .md-tab {
    float: left !important;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.md-tab {
    width: 25%;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    padding: 0px 5px;
    -webkit-transition: background-color .35s cubic-bezier(.35,0,.25,1);
    transition: background-color .35s cubic-bezier(.35,0,.25,1);
    cursor: pointer;
    white-space: inherit;
    position: relative;
    text-transform: inherit;
    float: left;
    font-weight: 500;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}
md-tab-item span{
    vertical-align: middle;
    height: 100%;

}
md-tabs .md-tab {
    color: #294994;
}
md-tabs .md-tab.md-active{
    color: #fe9600 ;
}
md-tabs md-ink-bar {
    color: #fe9600 ;
    background: #fe9600 ;
}
</style>