list-filters{
  display: -webkit-box;
  padding: 2.5px;
}
.lane-picturelist-AS{
  width: 50%;
}

 md-card {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 2.5px 2.5px 10px 2.5px !important;
    border-radius: 5px;
    /*box-shadow: 0px 1px 5px 2px rgba(185,191,203,0.8) !important;*/
    box-shadow: 0px 2px 8px 1px rgba(126,129,138,0.5) !important;
    
}

/*Tìtulo de la tarjeta*/
md-card md-card-title {
    padding: 5px 10px 0px !important; 
    color: #9c9c9c !important;
    text-align: center !important;
    font-size: 12px !important;
}
md-card .md-card-content{
    text-align: center;
    padding: 0px 10px;
    color: #4f4f4f;
}
.icon-img-card-AS{
  position: absolute;
  color: #fff;
  margin-left: 5px;
  z-index: 2;
}
.shaw{
      background-image: url(../images/shadow.png);
    width: calc(100% - 17px);
    height: 30px;
    position: absolute;
    z-index: 1;
    margin-top: 7px;
    margin-left: 7px;
}
.info-content-AS{
    text-align: center;
    font-size: 10px;
    padding: 5px 0px;
    color: #9d9d9d;
    font-weight: bold;
}
.info-content-AS strong{
  font-size: 13px;
  color: #000;
}
.directive-card-AS{
    font-size: 10px;
    text-align: center;
}
.fotter-card-AS{
  text-align: center;
  padding: 5px 0px;
}
.fotter-card-AS md-icon{
  color: #294898;
  margin-bottom: -5px;
}
.fotter-card-AS p{
  font-size: 10px;
  color: #9d9d9d;
  font-weight: bold;
  margin: 0px !important
}



#wrapper {
  width: 100%;
  /*max-width: 1100px;
  min-width: 800px;*/
  /*margin: 50px auto;*/
}

#columns {
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 2;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 2;
  column-gap: 7px;
  /*column-fill: auto;*/
}

.pin {
  /*display: inline-block;*/
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  /*margin: 0 2px 15px;*/
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  /*padding: 15px;*/
  /*padding-bottom: 5px;*/
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;
  margin-bottom: 15px;
  
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.pin img {
  width: 100%;
  /*border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;*/
  object-fit: cover;
}

.pin p {
  font: 12px/18px Arial, sans-serif;
  color: #333;
  margin: 0;
  text-align: center;
}

@media (min-width: 960px) {
  #columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}

@media (min-width: 1100px) {
  #columns {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }
}
